<a href="https://colab.research.google.com/github/MrSimple07/BigDataInfrastructure/blob/main/MariaDb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Install MariaDB on Google Colab

In [2]:
!apt-get update
!apt-get install mariadb-server -y

Hit:1 https://cloud.r-project.org/bin/linux/ubuntu jammy-cran40/ InRelease
Hit:2 http://archive.ubuntu.com/ubuntu jammy InRelease
Hit:3 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2204/x86_64  InRelease
Get:4 http://archive.ubuntu.com/ubuntu jammy-updates InRelease [119 kB]
Get:5 http://security.ubuntu.com/ubuntu jammy-security InRelease [110 kB]
Hit:6 http://archive.ubuntu.com/ubuntu jammy-backports InRelease
Hit:7 https://ppa.launchpadcontent.net/c2d4u.team/c2d4u4.0+/ubuntu jammy InRelease
Hit:8 https://ppa.launchpadcontent.net/deadsnakes/ppa/ubuntu jammy InRelease
Hit:9 https://ppa.launchpadcontent.net/graphics-drivers/ppa/ubuntu jammy InRelease
Hit:10 https://ppa.launchpadcontent.net/ubuntugis/ppa/ubuntu jammy InRelease
Fetched 229 kB in 1s (167 kB/s)
Reading package lists... Done
Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
mariadb-server is already the newest version (1:10.6.16-0ubuntu0.22.04.1).
0 upgraded, 0 newly installed, 0 to remove and 45 not upgraded.

In [ ]:
!mysqld_safe &

240405 12:15:28 mysqld_safe Logging to syslog.
240405 12:15:28 mysqld_safe A mysqld process already exists

In [ ]:
!mysql_secure_installation

NOTE: RUNNING ALL PARTS OF THIS SCRIPT IS RECOMMENDED FOR ALL MariaDB
      SERVERS IN PRODUCTION USE!  PLEASE READ EACH STEP CAREFULLY!

In order to log into MariaDB to secure it, we'll need the current
password for the root user. If you've just installed MariaDB, and
haven't set the root password yet, you should just press enter here.

Enter current password for root (enter for none):
OK, successfully used password, moving on...

Setting the root password or using the unix_socket ensures that nobody
can log into the MariaDB root user without the proper authorisation.

You already have your root account protected, so you can safely answer 'n'.

Switch to unix_socket authentication [Y/n] n
 ... skipping.

You already have your root account protected, so you can safely answer 'n'.

Change the root password? [Y/n] n
 ... skipping.

By default, a MariaDB installation has an anonymous user, allowing anyone
to log into MariaDB without having to have a user account created for
them.  This is intended only for testing, and to make the installation
go a bit smoother.  You should remove them before moving into a
production environment.

Remove anonymous users? [Y/n] n
 ... skipping.

Normally, root should only be allowed to connect from 'localhost'.  This
ensures that someone cannot guess at the root password from the network.

Disallow root login remotely? [Y/n] n
 ... skipping.

By default, MariaDB comes with a database named 'test' that anyone can
access.  This is also intended only for testing, and should be removed
before moving into a production environment.

Remove test database and access to it? [Y/n] n
 ... skipping.

Reloading the privilege tables will ensure that all changes made so far
will take effect immediately.

Reload privilege tables now? [Y/n] n
 ... skipping.

Cleaning up...

All done!  If you've completed all of the above steps, your MariaDB
installation should now be secure.

Thanks for using MariaDB!

In [ ]:
!mysql -u root -p

Enter password:
Welcome to the MariaDB monitor.  Commands end with ; or \g.
Your MariaDB connection id is 5
Server version: 10.6.16-MariaDB-0ubuntu0.22.04.1 Ubuntu 22.04

Copyright (c) 2000, 2018, Oracle, MariaDB Corporation Ab and others.

Type 'help;' or '\h' for help. Type '\c' to clear the current input statement.

MariaDB [(none)]> hi
    -> CREATE DATABASE mydatabase;
ERROR 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MariaDB server version for the right syntax to use near 'hi
CREATE DATABASE mydatabase' at line 1
MariaDB [(none)]> CREATE DATABASE mydatabase;
Query OK, 1 row affected (0.001 sec)

MariaDB [(none)]> USE mydatabase;
Database changed
MariaDB [mydatabase]> CREATE TABLE mytable (     id INT AUTO_INCREMENT PRIMARY KEY,     name VARCHAR (255) );
Query OK, 0 rows affected (0.018 sec)

MariaDB [mydatabase]> INSERT INTO mytable (name) VALUES ('John'), ('Jane'), ('Bob');
Query OK, 3 rows affected (0.004 sec)
Records: 3  Duplicates: 0  Warnings: 0

MariaDB [mydatabase]> SELECT * FROM mytable;
+----+------+
| id | name |
+----+------+
|  1 | John |
|  2 | Jane |
|  3 | Bob  |
+----+------+
3 rows in set (0.000 sec)

MariaDB [mydatabase]> HELP;

General information about MariaDB can be found at
http://mariadb.org

List of all client commands:
Note that all text commands must be first on line and end with ';'
?         (\?) Synonym for `help'.
clear     (\c) Clear the current input statement.
connect   (\r) Reconnect to the server. Optional arguments are db and host.
delimiter (\d) Set statement delimiter.
edit      (\e) Edit command with $EDITOR.
ego       (\G) Send command to MariaDB server, display result vertically.
exit      (\q) Exit mysql. Same as quit.
go        (\g) Send command to MariaDB server.
help      (\h) Display this help.
nopager   (\n) Disable pager, print to stdout.
notee     (\t) Don't write into outfile.
pager     (\P) Set PAGER [to_pager]. Print the query results via PAGER.
print     (\p) Print current command.
prompt    (\R) Change your mysql prompt.
quit      (\q) Quit mysql.
rehash    (\#) Rebuild completion hash.
source    (\.) Execute an SQL script file. Takes a file name as an argument.
status    (\s) Get status information from the server.
system    (\!) Execute a system shell command.
tee       (\T) Set outfile [to_outfile]. Append everything into given outfile.
use       (\u) Use another database. Takes database name as argument.
charset   (\C) Switch to another charset. Might be needed for processing binlog with multi-byte charsets.
warnings  (\W) Show warnings after every statement.
nowarning (\w) Don't show warnings after every statement.

For server side help, type 'help contents'

MariaDB [mydatabase]> Install MariaDB on Google Colab
    -> CREATE TABLE departments (     dept_id INT AUTO_INCREMENT PRIMARY KEY,     dept_name VARCHAR( 100) NOT NULL );  CREATE TABLE employees (     emp_id INT AUTO_INCREMENT PRIMARY KEY,     emp_name V ARCHAR(100) NOT NULL,     dept_id INT NOT NULL,     FOREIGN KEY (dept_id) REFERENCES departments(dep t_id) );
ERROR 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MariaDB server version for the right syntax to use near 'MariaDB on Google Colab
CREATE TABLE departments (     dept_id INT AUTO_INCRE...' at line 1
ERROR 1005 (HY000): Can't create table `mydatabase`.`employees` (errno: 150 "Foreign key constraint is incorrectly formed")
MariaDB [mydatabase]> CREATE TABLE departments (     dept_id INT AUTO_INCREMENT PRIMARY KEY,     dep t_name VARCHAR(100) NOT NULL );  CREATE TABLE employees (     emp_id INT AUTO_INCREMENT PRIMARY KEY,      emp_name VARCHAR(100) NOT NULL,     dept_id INT NOT NULL,     FOREIGN KEY (dept_id) REFERENCES  departments(dept_id) );
Query OK, 0 rows affected (0.016 sec)

Query OK, 0 rows affected (0.017 sec)

MariaDB [mydatabase]> INSERT INTO departments (dept_name) VALUES     ('Sales'), ('Marketing'), ('Eng ineering');  INSERT INTO employees (emp_name, dept_id) VALUES     ('John', 1), ('Jane', 2), ('Bob',  3), ('Alice', 1);  SELECT e.emp_name, d.dept_name FROM employees e JOIN departments d ON e.dept_id =  d.dept_id;
Query OK, 3 rows affected (0.003 sec)
Records: 3  Duplicates: 0  Warnings: 0

Query OK, 4 rows affected (0.004 sec)
Records: 4  Duplicates: 0  Warnings: 0

+----------+-------------+
| emp_name | dept_name   |
+----------+-------------+
| John     | Sales       |
| Jane     | Marketing   |
| Bob      | Engineering |
| Alice    | Sales       |
+----------+-------------+
4 rows in set (0.001 sec)

MariaDB [mydatabase]>

In [ ]:
!mysql -u root -p