<a href="https://colab.research.google.com/github/MrSimple07/BigDataInfrastructure/blob/main/MariaDb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Install MariaDB on Google Colab

In [1]:
!apt-get update
!apt-get install mariadb-server -y

Get:1 https://cloud.r-project.org/bin/linux/ubuntu jammy-cran40/ InRelease [3,626 B]
Hit:2 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2204/x86_64  InRelease
Get:3 http://security.ubuntu.com/ubuntu jammy-security InRelease [110 kB]
Hit:4 http://archive.ubuntu.com/ubuntu jammy InRelease
Get:5 http://archive.ubuntu.com/ubuntu jammy-updates InRelease [119 kB]
Get:6 http://security.ubuntu.com/ubuntu jammy-security/universe amd64 Packages [1,081 kB]
Hit:7 https://ppa.launchpadcontent.net/c2d4u.team/c2d4u4.0+/ubuntu jammy InRelease
Hit:8 https://ppa.launchpadcontent.net/deadsnakes/ppa/ubuntu jammy InRelease
Hit:9 http://archive.ubuntu.com/ubuntu jammy-backports InRelease
Hit:10 https://ppa.launchpadcontent.net/graphics-drivers/ppa/ubuntu jammy InRelease
Get:11 http://security.ubuntu.com/ubuntu jammy-security/main amd64 Packages [1,641 kB]
Hit:12 https://ppa.launchpadcontent.net/ubuntugis/ppa/ubuntu jammy InRelease
Get:13 http://archive.ubuntu.com/ubuntu jammy-updates/universe amd64 Packages [1,358 kB]
Get:14 http://archive.ubuntu.com/ubuntu jammy-updates/restricted amd64 Packages [2,107 kB]
Get:15 http://archive.ubuntu.com/ubuntu jammy-updates/multiverse amd64 Packages [61.2 kB]
Get:16 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 Packages [1,920 kB]
Fetched 8,401 kB in 3s (2,958 kB/s)
Reading package lists... Done
Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
The following additional packages will be installed:
  galera-4 gawk libcgi-fast-perl libcgi-pm-perl libclone-perl libconfig-inifiles-perl
  libdbd-mysql-perl libdbi-perl libencode-locale-perl libfcgi-bin libfcgi-perl libfcgi0ldbl
  libhtml-parser-perl libhtml-tagset-perl libhtml-template-perl libhttp-date-perl
  libhttp-message-perl libio-html-perl liblwp-mediatypes-perl libmariadb3 libterm-readkey-perl
  liburi-perl liburing2 libwrap0 mariadb-client-10.6 mariadb-client-core-10.6 mariadb-common
  mariadb-server-10.6 mariadb-server-core-10.6 socat
Suggested packages:
  gawk-doc libmldbm-perl libnet-daemon-perl libsql-statement-perl libdata-dump-perl
  libipc-sharedcache-perl libbusiness-isbn-perl libwww-perl mailx mariadb-test netcat-openbsd
The following NEW packages will be installed:
  galera-4 gawk libcgi-fast-perl libcgi-pm-perl libclone-perl libconfig-inifiles-perl
  libdbd-mysql-perl libdbi-perl libencode-locale-perl libfcgi-bin libfcgi-perl libfcgi0ldbl
  libhtml-parser-perl libhtml-tagset-perl libhtml-template-perl libhttp-date-perl
  libhttp-message-perl libio-html-perl liblwp-mediatypes-perl libmariadb3 libterm-readkey-perl
  liburi-perl liburing2 libwrap0 mariadb-client-10.6 mariadb-client-core-10.6 mariadb-common
  mariadb-server mariadb-server-10.6 mariadb-server-core-10.6 socat
0 upgraded, 31 newly installed, 0 to remove and 45 not upgraded.
Need to get 17.7 MB of archives.
After this operation, 159 MB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 gawk amd64 1:5.1.0-1ubuntu0.1 [447 kB]
Get:2 http://archive.ubuntu.com/ubuntu jammy-updates/universe amd64 mariadb-common all 1:10.6.16-0ubuntu0.22.04.1 [16.6 kB]
Get:3 http://archive.ubuntu.com/ubuntu jammy/universe amd64 galera-4 amd64 26.4.9-1build1 [720 kB]
Get:4 http://archive.ubuntu.com/ubuntu jammy/main amd64 libdbi-perl amd64 1.643-3build3 [741 kB]
Get:5 http://archive.ubuntu.com/ubuntu jammy/main amd64 libconfig-inifiles-perl all 3.000003-1 [40.5 kB]
Get:6 http://archive.ubuntu.com/ubuntu jammy-updates/universe amd64 libmariadb3 amd64 1:10.6.16-0ubuntu0.22.04.1 [181 kB]
Get:7 http://archive.ubuntu.com/ubuntu jammy-updates/universe amd64 mariadb-client-core-10.6 amd64 1:10.6.16-0ubuntu0.22.04.1 [973 kB]
Get:8 http://archive.ubuntu.com/ubuntu jammy-updates/universe amd64 mariadb-client-10.6 amd64 1:10.6.16-0ubuntu0.22.04.1 [1,525 kB]
Get:9 http://archive.ubuntu.com/ubuntu jammy/main amd64 liburing2 amd64 2.1-2build1 [10.3 kB]
Get:10 http://archive.ubuntu.com/ubuntu jammy-updates/universe amd64 mariadb-server-core-10.6 amd64 1:10.6.16-0ubuntu0.22.04.1 [7,709 kB]
Get:11 http://archive.ubuntu.com/ubuntu jammy/main amd64 libwrap0 amd64 7.6.q-31build2 [47.9 kB]
Get:12 http://archive.ubuntu.com/ubuntu jammy/main amd64 socat amd64 1.7.4.1-3ubuntu4 [349 kB]
Get:13 http://archive.ubuntu.com/ubuntu jammy-updates/universe amd64 mariadb-server-10.6 amd64 1:10.6.16-0ubuntu0.22.04.1 [4,142 kB]
Get:14 http://archive.ubuntu.com/ubuntu jammy/main amd64 libhtml-tagset-perl all 3.20-4 [12.5 kB]
Get:15 http://archive.ubuntu.com/ubuntu jammy/main amd64 liburi-perl all 5.10-1 [78.8 kB]
Get:16 http://archive.ubuntu.com/ubuntu jammy/main amd64 libhtml-parser-perl amd64 3.76-1build2 [88.4 kB]
Get:17 http://archive.ubuntu.com/ubuntu jammy/main amd64 libcgi-pm-perl all 4.54-1 [188 kB]
Get:18 http://archive.ubuntu.com/ubuntu jammy/main amd64 libfcgi0ldbl amd64 2.4.2-2build2 [28.0 kB]
Get:19 http://archive.ubuntu.com/ubuntu jammy/main amd64 libfcgi-perl amd64 0.82+ds-1build1 [22.8 kB]
Get:20 http://archive.ubuntu.com/ubuntu jammy/main amd64 libcgi-fast-perl all 1:2.15-1 [10.5 kB]
Get:21 http://archive.ubuntu.com/ubuntu jammy/main amd64 libclone-perl amd64 0.45-1build3 [11.0 kB]
Get:22 http://archive.ubuntu.com/ubuntu jammy-updates/universe amd64 libdbd-mysql-perl amd64 4.050-5ubuntu0.22.04.1 [87.6 kB]
Get:23 http://archive.ubuntu.com/ubuntu jammy/main amd64 libencode-locale-perl all 1.05-1.1 [11.8 kB]
Get:24 http://archive.ubuntu.com/ubuntu jammy/main amd64 libfcgi-bin amd64 2.4.2-2build2 [11.2 kB]
Get:25 http://archive.ubuntu.com/ubuntu jammy/main amd64 libhtml-template-perl all 2.97-1.1 [59.1 kB]
Get:26 http://archive.ubuntu.com/ubuntu jammy/main amd64 libhttp-date-perl all 6.05-1 [9,920 B]
Get:27 http://archive.ubuntu.com/ubuntu jammy/main amd64 libio-html-perl all 1.004-2 [15.4 kB]
Get:28 http://archive.ubuntu.com/ubuntu jammy/main amd64 liblwp-mediatypes-perl all 6.04-1 [19.5 kB]
Get:29 http://archive.ubuntu.com/ubuntu jammy/main amd64 libhttp-message-perl all 6.36-1 [76.8 kB]
Get:30 http://archive.ubuntu.com/ubuntu jammy/main amd64 libterm-readkey-perl amd64 2.38-1build4 [25.2 kB]
Get:31 http://archive.ubuntu.com/ubuntu jammy-updates/universe amd64 mariadb-server all 1:10.6.16-0ubuntu0.22.04.1 [11.8 kB]
Fetched 17.7 MB in 5s (3,721 kB/s)
Extracting templates from packages: 100%
Preconfiguring packages ...
Selecting previously unselected package gawk.
(Reading database ... 121753 files and directories currently installed.)
Preparing to unpack .../00-gawk_1%3a5.1.0-1ubuntu0.1_amd64.deb ...
Unpacking gawk (1:5.1.0-1ubuntu0.1) ...
Selecting previously unselected package mariadb-common.
Preparing to unpack .../01-mariadb-common_1%3a10.6.16-0ubuntu0.22.04.1_all.deb ...
Unpacking mariadb-common (1:10.6.16-0ubuntu0.22.04.1) ...
Selecting previously unselected package galera-4.
Preparing to unpack .../02-galera-4_26.4.9-1build1_amd64.deb ...
Unpacking galera-4 (26.4.9-1build1) ...
Selecting previously unselected package libdbi-perl:amd64.
Preparing to unpack .../03-libdbi-perl_1.643-3build3_amd64.deb ...
Unpacking libdbi-perl:amd64 (1.643-3build3) ...
Selecting previously unselected package libconfig-inifiles-perl.
Preparing to unpack .../04-libconfig-inifiles-perl_3.000003-1_all.deb ...
Unpacking libconfig-inifiles-perl (3.000003-1) ...
Selecting previously unselected package libmariadb3:amd64.
Preparing to unpack .../05-libmariadb3_1%3a10.6.16-0ubuntu0.22.04.1_amd64.deb ...
Unpacking libmariadb3:amd64 (1:10.6.16-0ubuntu0.22.04.1) ...
Selecting previously unselected package mariadb-client-core-10.6.
Preparing to unpack .../06-mariadb-client-core-10.6_1%3a10.6.16-0ubuntu0.22.04.1_amd64.deb ...
Unpacking mariadb-client-core-10.6 (1:10.6.16-0ubuntu0.22.04.1) ...
Selecting previously unselected package mariadb-client-10.6.
Preparing to unpack .../07-mariadb-client-10.6_1%3a10.6.16-0ubuntu0.22.04.1_amd64.deb ...
Unpacking mariadb-client-10.6 (1:10.6.16-0ubuntu0.22.04.1) ...
Selecting previously unselected package liburing2:amd64.
Preparing to unpack .../08-liburing2_2.1-2build1_amd64.deb ...
Unpacking liburing2:amd64 (2.1-2build1) ...
Selecting previously unselected package mariadb-server-core-10.6.
Preparing to unpack .../09-mariadb-server-core-10.6_1%3a10.6.16-0ubuntu0.22.04.1_amd64.deb ...
Unpacking mariadb-server-core-10.6 (1:10.6.16-0ubuntu0.22.04.1) ...
Selecting previously unselected package libwrap0:amd64.
Preparing to unpack .../10-libwrap0_7.6.q-31build2_amd64.deb ...
Unpacking libwrap0:amd64 (7.6.q-31build2) ...
Selecting previously unselected package socat.
Preparing to unpack .../11-socat_1.7.4.1-3ubuntu4_amd64.deb ...
Unpacking socat (1.7.4.1-3ubuntu4) ...
Setting up mariadb-common (1:10.6.16-0ubuntu0.22.04.1) ...
update-alternatives: using /etc/mysql/mariadb.cnf to provide /etc/mysql/my.cnf (my.cnf) in auto mode
Selecting previously unselected package mariadb-server-10.6.
(Reading database ... 122344 files and directories currently installed.)
Preparing to unpack .../00-mariadb-server-10.6_1%3a10.6.16-0ubuntu0.22.04.1_amd64.deb ...
Unpacking mariadb-server-10.6 (1:10.6.16-0ubuntu0.22.04.1) ...
Selecting previously unselected package libhtml-tagset-perl.
Preparing to unpack .../01-libhtml-tagset-perl_3.20-4_all.deb ...
Unpacking libhtml-tagset-perl (3.20-4) ...
Selecting previously unselected package liburi-perl.
Preparing to unpack .../02-liburi-perl_5.10-1_all.deb ...
Unpacking liburi-perl (5.10-1) ...
Selecting previously unselected package libhtml-parser-perl:amd64.
Preparing to unpack .../03-libhtml-parser-perl_3.76-1build2_amd64.deb ...
Unpacking libhtml-parser-perl:amd64 (3.76-1build2) ...
Selecting previously unselected package libcgi-pm-perl.
Preparing to unpack .../04-libcgi-pm-perl_4.54-1_all.deb ...
Unpacking libcgi-pm-perl (4.54-1) ...
Selecting previously unselected package libfcgi0ldbl:amd64.
Preparing to unpack .../05-libfcgi0ldbl_2.4.2-2build2_amd64.deb ...
Unpacking libfcgi0ldbl:amd64 (2.4.2-2build2) ...
Selecting previously unselected package libfcgi-perl:amd64.
Preparing to unpack .../06-libfcgi-perl_0.82+ds-1build1_amd64.deb ...
Unpacking libfcgi-perl:amd64 (0.82+ds-1build1) ...
Selecting previously unselected package libcgi-fast-perl.
Preparing to unpack .../07-libcgi-fast-perl_1%3a2.15-1_all.deb ...
Unpacking libcgi-fast-perl (1:2.15-1) ...
Selecting previously unselected package libclone-perl.
Preparing to unpack .../08-libclone-perl_0.45-1build3_amd64.deb ...
Unpacking libclone-perl (0.45-1build3) ...
Selecting previously unselected package libdbd-mysql-perl:amd64.
Preparing to unpack .../09-libdbd-mysql-perl_4.050-5ubuntu0.22.04.1_amd64.deb ...
Unpacking libdbd-mysql-perl:amd64 (4.050-5ubuntu0.22.04.1) ...
Selecting previously unselected package libencode-locale-perl.
Preparing to unpack .../10-libencode-locale-perl_1.05-1.1_all.deb ...
Unpacking libencode-locale-perl (1.05-1.1) ...
Selecting previously unselected package libfcgi-bin.
Preparing to unpack .../11-libfcgi-bin_2.4.2-2build2_amd64.deb ...
Unpacking libfcgi-bin (2.4.2-2build2) ...
Selecting previously unselected package libhtml-template-perl.
Preparing to unpack .../12-libhtml-template-perl_2.97-1.1_all.deb ...
Unpacking libhtml-template-perl (2.97-1.1) ...
Selecting previously unselected package libhttp-date-perl.
Preparing to unpack .../13-libhttp-date-perl_6.05-1_all.deb ...
Unpacking libhttp-date-perl (6.05-1) ...
Selecting previously unselected package libio-html-perl.
Preparing to unpack .../14-libio-html-perl_1.004-2_all.deb ...
Unpacking libio-html-perl (1.004-2) ...
Selecting previously unselected package liblwp-mediatypes-perl.
Preparing to unpack .../15-liblwp-mediatypes-perl_6.04-1_all.deb ...
Unpacking liblwp-mediatypes-perl (6.04-1) ...
Selecting previously unselected package libhttp-message-perl.
Preparing to unpack .../16-libhttp-message-perl_6.36-1_all.deb ...
Unpacking libhttp-message-perl (6.36-1) ...
Selecting previously unselected package libterm-readkey-perl.
Preparing to unpack .../17-libterm-readkey-perl_2.38-1build4_amd64.deb ...
Unpacking libterm-readkey-perl (2.38-1build4) ...
Selecting previously unselected package mariadb-server.
Preparing to unpack .../18-mariadb-server_1%3a10.6.16-0ubuntu0.22.04.1_all.deb ...
Unpacking mariadb-server (1:10.6.16-0ubuntu0.22.04.1) ...
Setting up libconfig-inifiles-perl (3.000003-1) ...
Setting up galera-4 (26.4.9-1build1) ...
Setting up libhttp-date-perl (6.05-1) ...
Setting up libfcgi0ldbl:amd64 (2.4.2-2build2) ...
Setting up gawk (1:5.1.0-1ubuntu0.1) ...
Setting up libclone-perl (0.45-1build3) ...
Setting up libhtml-tagset-perl (3.20-4) ...
Setting up liblwp-mediatypes-perl (6.04-1) ...
Setting up libfcgi-bin (2.4.2-2build2) ...
Setting up libencode-locale-perl (1.05-1.1) ...
Setting up libwrap0:amd64 (7.6.q-31build2) ...
Setting up socat (1.7.4.1-3ubuntu4) ...
Setting up libio-html-perl (1.004-2) ...
Setting up libmariadb3:amd64 (1:10.6.16-0ubuntu0.22.04.1) ...
Setting up libfcgi-perl:amd64 (0.82+ds-1build1) ...
Setting up libterm-readkey-perl (2.38-1build4) ...
Setting up liburing2:amd64 (2.1-2build1) ...
Setting up liburi-perl (5.10-1) ...
Setting up libdbi-perl:amd64 (1.643-3build3) ...
Setting up mariadb-server-core-10.6 (1:10.6.16-0ubuntu0.22.04.1) ...
Setting up libhttp-message-perl (6.36-1) ...
Setting up mariadb-client-core-10.6 (1:10.6.16-0ubuntu0.22.04.1) ...
Setting up libdbd-mysql-perl:amd64 (4.050-5ubuntu0.22.04.1) ...
Setting up libhtml-parser-perl:amd64 (3.76-1build2) ...
Setting up mariadb-client-10.6 (1:10.6.16-0ubuntu0.22.04.1) ...
Setting up libcgi-pm-perl (4.54-1) ...
Setting up libhtml-template-perl (2.97-1.1) ...
Setting up mariadb-server-10.6 (1:10.6.16-0ubuntu0.22.04.1) ...
invoke-rc.d: could not determine current runlevel
invoke-rc.d: policy-rc.d denied execution of stop.
Created symlink /etc/systemd/system/multi-user.target.wants/mariadb.service → /lib/systemd/system/mariadb.service.
invoke-rc.d: could not determine current runlevel
invoke-rc.d: policy-rc.d denied execution of start.
Setting up libcgi-fast-perl (1:2.15-1) ...
Setting up mariadb-server (1:10.6.16-0ubuntu0.22.04.1) ...
Processing triggers for man-db (2.10.2-1) ...
Processing triggers for libc-bin (2.35-0ubuntu3.4) ...
/sbin/ldconfig.real: /usr/local/lib/libtbbmalloc.so.2 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtbbmalloc_proxy.so.2 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtbbbind_2_0.so.3 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtbbbind_2_5.so.3 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtbb.so.12 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtbbbind.so.3 is not a symbolic link

In [2]:
!mysqld_safe &

240405 23:04:37 mysqld_safe Logging to syslog.
240405 23:04:37 mysqld_safe Starting mariadbd daemon with databases from /var/lib/mysql

In [3]:
!mysql_secure_installation

NOTE: RUNNING ALL PARTS OF THIS SCRIPT IS RECOMMENDED FOR ALL MariaDB
      SERVERS IN PRODUCTION USE!  PLEASE READ EACH STEP CAREFULLY!

In order to log into MariaDB to secure it, we'll need the current
password for the root user. If you've just installed MariaDB, and
haven't set the root password yet, you should just press enter here.

Enter current password for root (enter for none):
OK, successfully used password, moving on...

Setting the root password or using the unix_socket ensures that nobody
can log into the MariaDB root user without the proper authorisation.

You already have your root account protected, so you can safely answer 'n'.

Switch to unix_socket authentication [Y/n] n
 ... skipping.

You already have your root account protected, so you can safely answer 'n'.

Change the root password? [Y/n] n
 ... skipping.

By default, a MariaDB installation has an anonymous user, allowing anyone
to log into MariaDB without having to have a user account created for
them.  This is intended only for testing, and to make the installation
go a bit smoother.  You should remove them before moving into a
production environment.

Remove anonymous users? [Y/n] n
 ... skipping.

Normally, root should only be allowed to connect from 'localhost'.  This
ensures that someone cannot guess at the root password from the network.

Disallow root login remotely? [Y/n] n
 ... skipping.

By default, MariaDB comes with a database named 'test' that anyone can
access.  This is also intended only for testing, and should be removed
before moving into a production environment.

Remove test database and access to it? [Y/n] n
 ... skipping.

Reloading the privilege tables will ensure that all changes made so far
will take effect immediately.

Reload privilege tables now? [Y/n] n
 ... skipping.

Cleaning up...

All done!  If you've completed all of the above steps, your MariaDB
installation should now be secure.

Thanks for using MariaDB!

#Basic operations

In [ ]:
!mysql -u root -p

Enter password:
Welcome to the MariaDB monitor.  Commands end with ; or \g.
Your MariaDB connection id is 5
Server version: 10.6.16-MariaDB-0ubuntu0.22.04.1 Ubuntu 22.04

Copyright (c) 2000, 2018, Oracle, MariaDB Corporation Ab and others.

Type 'help;' or '\h' for help. Type '\c' to clear the current input statement.

MariaDB [(none)]> hi
    -> CREATE DATABASE mydatabase;
ERROR 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MariaDB server version for the right syntax to use near 'hi
CREATE DATABASE mydatabase' at line 1
MariaDB [(none)]> CREATE DATABASE mydatabase;
Query OK, 1 row affected (0.001 sec)

MariaDB [(none)]> USE mydatabase;
Database changed
MariaDB [mydatabase]> CREATE TABLE mytable (     id INT AUTO_INCREMENT PRIMARY KEY,     name VARCHAR (255) );
Query OK, 0 rows affected (0.018 sec)

MariaDB [mydatabase]> INSERT INTO mytable (name) VALUES ('John'), ('Jane'), ('Bob');
Query OK, 3 rows affected (0.004 sec)
Records: 3  Duplicates: 0  Warnings: 0

MariaDB [mydatabase]> SELECT * FROM mytable;
+----+------+
| id | name |
+----+------+
|  1 | John |
|  2 | Jane |
|  3 | Bob  |
+----+------+
3 rows in set (0.000 sec)

MariaDB [mydatabase]> HELP;

General information about MariaDB can be found at
http://mariadb.org

List of all client commands:
Note that all text commands must be first on line and end with ';'
?         (\?) Synonym for `help'.
clear     (\c) Clear the current input statement.
connect   (\r) Reconnect to the server. Optional arguments are db and host.
delimiter (\d) Set statement delimiter.
edit      (\e) Edit command with $EDITOR.
ego       (\G) Send command to MariaDB server, display result vertically.
exit      (\q) Exit mysql. Same as quit.
go        (\g) Send command to MariaDB server.
help      (\h) Display this help.
nopager   (\n) Disable pager, print to stdout.
notee     (\t) Don't write into outfile.
pager     (\P) Set PAGER [to_pager]. Print the query results via PAGER.
print     (\p) Print current command.
prompt    (\R) Change your mysql prompt.
quit      (\q) Quit mysql.
rehash    (\#) Rebuild completion hash.
source    (\.) Execute an SQL script file. Takes a file name as an argument.
status    (\s) Get status information from the server.
system    (\!) Execute a system shell command.
tee       (\T) Set outfile [to_outfile]. Append everything into given outfile.
use       (\u) Use another database. Takes database name as argument.
charset   (\C) Switch to another charset. Might be needed for processing binlog with multi-byte charsets.
warnings  (\W) Show warnings after every statement.
nowarning (\w) Don't show warnings after every statement.

For server side help, type 'help contents'

MariaDB [mydatabase]> Install MariaDB on Google Colab
    -> CREATE TABLE departments (     dept_id INT AUTO_INCREMENT PRIMARY KEY,     dept_name VARCHAR( 100) NOT NULL );  CREATE TABLE employees (     emp_id INT AUTO_INCREMENT PRIMARY KEY,     emp_name V ARCHAR(100) NOT NULL,     dept_id INT NOT NULL,     FOREIGN KEY (dept_id) REFERENCES departments(dep t_id) );
ERROR 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MariaDB server version for the right syntax to use near 'MariaDB on Google Colab
CREATE TABLE departments (     dept_id INT AUTO_INCRE...' at line 1
ERROR 1005 (HY000): Can't create table `mydatabase`.`employees` (errno: 150 "Foreign key constraint is incorrectly formed")
MariaDB [mydatabase]> CREATE TABLE departments (     dept_id INT AUTO_INCREMENT PRIMARY KEY,     dep t_name VARCHAR(100) NOT NULL );  CREATE TABLE employees (     emp_id INT AUTO_INCREMENT PRIMARY KEY,      emp_name VARCHAR(100) NOT NULL,     dept_id INT NOT NULL,     FOREIGN KEY (dept_id) REFERENCES  departments(dept_id) );
Query OK, 0 rows affected (0.016 sec)

Query OK, 0 rows affected (0.017 sec)

MariaDB [mydatabase]> INSERT INTO departments (dept_name) VALUES     ('Sales'), ('Marketing'), ('Eng ineering');  INSERT INTO employees (emp_name, dept_id) VALUES     ('John', 1), ('Jane', 2), ('Bob',  3), ('Alice', 1);  SELECT e.emp_name, d.dept_name FROM employees e JOIN departments d ON e.dept_id =  d.dept_id;
Query OK, 3 rows affected (0.003 sec)
Records: 3  Duplicates: 0  Warnings: 0

Query OK, 4 rows affected (0.004 sec)
Records: 4  Duplicates: 0  Warnings: 0

+----------+-------------+
| emp_name | dept_name   |
+----------+-------------+
| John     | Sales       |
| Jane     | Marketing   |
| Bob      | Engineering |
| Alice    | Sales       |
+----------+-------------+
4 rows in set (0.001 sec)

MariaDB [mydatabase]>

#Importing CSV data and working with it

In [ ]:
!mysql -u root -p

Enter password:
Welcome to the MariaDB monitor.  Commands end with ; or \g.
Your MariaDB connection id is 5
Server version: 10.6.16-MariaDB-0ubuntu0.22.04.1 Ubuntu 22.04

Copyright (c) 2000, 2018, Oracle, MariaDB Corporation Ab and others.

Type 'help;' or '\h' for help. Type '\c' to clear the current input statement.

MariaDB [(none)]> !mysql -u root -p
    -> ;
ERROR 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MariaDB server version for the right syntax to use near '!mysql -u root -p' at line 1
MariaDB [(none)]> CREATE DATABASE car_prices_db;
Query OK, 1 row affected (0.001 sec)

MariaDB [(none)]> USE car_prices_db;
Database changed
MariaDB [car_prices_db]> CREATE TABLE cars (     Brand VARCHAR(255),     Model VARCHAR(255),     Yea r INT,     Mileage INT,     Fuel VARCHAR(255),     Color VARCHAR(255),     Condition VARCHAR(255),      Price INT );  LOAD DATA INFILE '/content/car_prices_dataset.csv' INTO TABLE cars FIELDS TERMINATE D BY ','  ENCLOSED BY '' LINES TERMINATED BY '\n' IGNORE 1 ROWS (Brand, Model, @Year, Mileage, Fuel,  Color, Condition, @Price) SET Year = NULLIF(@Year, ''), Price = NULLIF(@Price, '');
ERROR 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MariaDB server version for the right syntax to use near 'Condition VARCHAR(255),     Price INT )' at line 1
ERROR 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MariaDB server version for the right syntax to use near 'Condition, @Price) SET Year = NULLIF(@Year, ''), Price = NULLIF(@Price, '')' at line 1
MariaDB [car_prices_db]> CREATE TABLE cars (     Brand VARCHAR(255),     Model VARCHAR(255),     Yea r INT,     Mileage INT,     Fuel VARCHAR(255),     Color VARCHAR(255),     Condition VARCHAR(255),      Price INT );
ERROR 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MariaDB server version for the right syntax to use near 'Condition VARCHAR(255),     Price INT )' at line 1
MariaDB [car_prices_db]> CREATE TABLE cars (     Brand VARCHAR(255),     Model VARCHAR(255),     Yea r INT,     Mileage INT,     Fuel VARCHAR(255),     Color VARCHAR(255),     Condition VARCHAR(255),      Price INT );
ERROR 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MariaDB server version for the right syntax to use near 'Condition VARCHAR(255),     Price INT )' at line 1
MariaDB [car_prices_db]> CREATE TABLE cars (     Brand VARCHAR(255),     Model VARCHAR(255),     Yea r INT,     Mileage INT,     Fuel VARCHAR(255),     Color VARCHAR(255),     Condition VARCHAR(255),      Price INT );
ERROR 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MariaDB server version for the right syntax to use near 'Condition VARCHAR(255),     Price INT )' at line 1
MariaDB [car_prices_db]> CREATE TABLE cars (     Brand VARCHAR(255),     Model VARCHAR(255),     Yea r INT,     Mileage INT,     Fuel VARCHAR(255),     Color VARCHAR(255),     `Condition` VARCHAR(255),      Price INT );
Query OK, 0 rows affected (0.020 sec)

MariaDB [car_prices_db]> LOAD DATA INFILE '/content/car_prices_dataset.csv' INTO TABLE cars FIELDS T ERMINATED BY ','  ENCLOSED BY '' LINES TERMINATED BY '\n' IGNORE 1 ROWS;
Query OK, 1000 rows affected (0.037 sec)
Records: 1000  Deleted: 0  Skipped: 0  Warnings: 0

MariaDB [car_prices_db]> UPDATE cars SET Year = NULL WHERE Year = 0; UPDATE cars SET Price = NULL WH ERE Price = 0;
Query OK, 0 rows affected (0.001 sec)
Rows matched: 0  Changed: 0  Warnings: 0

Query OK, 0 rows affected (0.001 sec)
Rows matched: 0  Changed: 0  Warnings: 0

MariaDB [car_prices_db]> SELECT COUNT(*) AS total_cars, COUNT(DISTINCT Brand) AS unique_brands FROM  cars;
+------------+---------------+
| total_cars | unique_brands |
+------------+---------------+
|       1000 |             5 |
+------------+---------------+
1 row in set (0.001 sec)

MariaDB [car_prices_db]> SELECT Brand, AVG(Price) AS avg_price, AVG(Mileage) AS avg_mileage FROM car s GROUP BY Brand;
+-----------+------------+-------------+
| Brand     | avg_price  | avg_mileage |
+-----------+------------+-------------+
| BMW       | 29353.4755 |  44209.0196 |
| Chevrolet | 29818.3641 |  43228.4660 |
| Ford      | 29757.2263 |  46367.2105 |
| Honda     | 29249.6842 |  44343.9211 |
| Toyota    | 30299.0810 |  43909.9000 |
+-----------+------------+-------------+
5 rows in set (0.003 sec)

MariaDB [car_prices_db]> SELECT Fuel, COUNT(*) AS count FROM cars GROUP BY Fuel ORDER BY count DESC  LIMIT 1;
+----------+-------+
| Fuel     | count |
+----------+-------+
| Gasoline |   355 |
+----------+-------+
1 row in set (0.001 sec)

MariaDB [car_prices_db]> SELECT Brand, Model, Price FROM cars ORDER BY Price DESC LIMIT 5;
+--------+----------+-------+
| Brand  | Model    | Price |
+--------+----------+-------+
| Toyota | Model264 | 49932 |
| Toyota | Model786 | 49930 |
| BMW    | Model759 | 49895 |
| Honda  | Model690 | 49886 |
| Ford   | Model173 | 49884 |
+--------+----------+-------+
5 rows in set (0.001 sec)

MariaDB [car_prices_db]> SELECT `Condition`, AVG(Price) AS avg_price FROM cars GROUP BY `Condition`; 
+-----------+------------+
| Condition | avg_price  |
+-----------+------------+
| New       | 30012.1857 |
| Used      | 29409.4922 |
+-----------+------------+
2 rows in set (0.003 sec)

MariaDB [car_prices_db]> SELECT Fuel, Color, COUNT(*) AS count FROM cars GROUP BY Fuel, Color;
+----------+--------+-------+
| Fuel     | Color  | count |
+----------+--------+-------+
| Diesel   | Black  |    58 |
| Diesel   | Blue   |    59 |
| Diesel   | Red    |    64 |
| Diesel   | Silver |    70 |
| Diesel   | White  |    56 |
| Electric | Black  |    62 |
| Electric | Blue   |    72 |
| Electric | Red    |    70 |
| Electric | Silver |    72 |
| Electric | White  |    62 |
| Gasoline | Black  |    70 |
| Gasoline | Blue   |    63 |
| Gasoline | Red    |    67 |
| Gasoline | Silver |    72 |
| Gasoline | White  |    83 |
+----------+--------+-------+
15 rows in set (0.003 sec)

MariaDB [car_prices_db]>